/* html.dark .background-pattern {
  background-image: radial-gradient(
      rgba(255, 255, 255, 0) 100%,
      hsl(var(--background)) 10rem
    ),
    linear-gradient(rgb(255, 255, 255, 0.008) 1px, transparent 1px),
    linear-gradient(
      to right,
      rgb(255, 255, 255, 0.008) 1px,
      hsl(var(--background)) 1px
    );
  background-size: 100% 100%, 100px 100px, 100px 100px;
}

.background-pattern {
  background-image: radial-gradient(
      rgba(255, 255, 255, 0) 100%,
      hsl(var(--background)) 10rem
    ),
    linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.04) 1px,
      hsl(var(--background)) 1px
    );
  background-size: 100% 100%, 100px 100px, 100px 100px;
} */
